*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    border-radius: 50%;
    margin-bottom: 7px;
}
.search{
    margin: auto;
    width: 50%;
    height: 100%;
}
.navbar{
    background-color: #F8F9FA;
 
}